<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    @RenderSection("scripts", required: false)



    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/angularjs-1.7.8.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.11.0.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="~/Content/angularjs/StatusTableController.js"></script>
    <title>@ViewBag.Title - Automotive Project Status</title>



</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-dark">
        @Html.ActionLink("Automotive Project Status", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Automotive Project Status</p>
        </footer>
    </div>

    

</body>

</html>
